@import url("./style.css");
*{ box-sizing: border-box; }
body{
    margin: 0;
    font: 1.2rem;
    color: var(--text);
    background-color: var(--background);
}
 ::before,*::after{ 
    box-sizing:border-box; 
}
header{
    display: flex;
    flex-direction: row;
    background-color: var(--headerColor);
    color: white;
    justify-content: space-between;
}
header .content{
    text-align: end;
    font-family: IceAndSnow, sans-serif;
}
.brand{ 
    display:flex;
    align-items:center;
    gap:.5rem; 
    color:white; 
    text-decoration:none; 
    font-weight:700; 
    }
 .wrap{ 
    max-width:960px; 
    margin:0 auto; 
    padding:.75rem 1rem; 
    display:flex; 
    align-items:center; 
    justify-content:space-between; 
    gap:1rem; 
}
nav{ 
    position:sticky;
    top:10px; 
    z-index:10; 
    border-bottom:1px solid rgba(255,255,255,.08); 
    align-items: center;
}
details{
    position: relative;
    top:17px;
}
summary{
    list-style: none;
    cursor: crosshair;
    display: none;
}
.sr-only{
    position:absolute;
    width: 1px;
    height: 1px;
    padding:0;
    margin:-1px;
    overflow:hidden;
    white-space: nowrap;
    border:0;
    clip-path: rect(0,0,0,0);
}
 .content{
    position: relative;
    display: flex;
    align-items: center;
        
    }
 .img{
    margin-left: 10px;
    border-radius: 100px;
    }
.hamburger, .hamburger::before, .hamburger::after{
    display: block;
    background-color: white;
    height: 3px;
    width: 26px;
    border-radius:2px;
    position: relative;
    transition: all 0.3 ease;
    }
.hamburger, .hamburger::before, .hamburger::after{
    display: block;
    background-color: white;
    height: 3px;
    width: 26px;
    border-radius:2px;
    position: relative;
    transition: all 0.3 ease;
    }
.hamburger::before, .hamburger::after{
    content: '';
    position: absolute;
    left:0;
}
.hamburger::before{
    top:-8px;
}
.hamburger::after{
    top:8px;
}
summary::-webkit-details-marker{
    display: none;
}
.menu{
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    gap: 1.5rem;
    align-items: center;
    margin-top: 17px;
}
.link{
    color: var(--background);
    text-decoration: none;
    font-weight: 800;
}
.link:hover{
    color: var(--accent2);
}
@media (max-width:700px){
        summary{
            display:block;
        }
        .menu{
            flex-direction: column;
            position: absolute;
            top:100%;
            background: var(--headerColor);
            border-top:1px solid rgba(255,255,255,.01);
            width: 100px;
            display: none;
            padding: 0.5rem 0;
        }
        .menu .li{
            margin-right: 1rem;
        }
        details[open] .menu{
            display: flex;
        }
        details[open] .hamburger{
            background: transparent;
        }
        details[open] .hamburger::before{
            transform: rotate(45deg);
            top:0;
        }
        details[open] .hamburger::after{
            transform: rotate(-45deg);
            top:0;
        }
    }
.wrapper{
    margin: 0;
    padding: 25px;
}
.bar{
    display: flex;
    gap: 16px;
    align-items: center;
    justify-content: space-between;
    padding: 14px 24px;
}
section{
    background-color: var(--box_color);
    border: 1px solid var(--baseText) 10%;
    border-radius: 7px;
    padding: 25px;
    margin: 18px 0;
    box-shadow: 0 8px 30px rgba(0,0,0,0.3);
}
.Image_Background{
    background-color: var(--accent);
}
.footer-grid{
    background-color: var(--headerColor);
    color: white;
    display: grid;
    text-align: center;
    margin-top: 1rem;
    padding: 10px;
    gap: 20px;
    grid-template-areas:
    "instagram facebook twitter youtube"
    "email email phone phone"
    "policy policy partnerships partnerships"
    "copyright copyright copyright copyright";
}
footer a:link, footer a:visited{
    color: white;
    text-decoration: none;
}
.link1{
    grid-area: instagram;
}
.link2{
    grid-area: facebook;
}
.link3{
    grid-area: twitter;
}
.link4{
    grid-area: youtube;
}
.link5{
    grid-area: email;
}
.link6{
    grid-area: phone;
}
.link7{
    grid-area: policy;
}
.link8{
    grid-area: partnerships;
}
.text1{
    grid-area: copyright;
}
article iframe{
    width: 100%;
    height: 400px;
    box-shadow: 0 8px 30px rgba(0,0,0,0.3);
}
article h2{
    font-family: IceAndSnow;
}
article h2, article p{
    text-align: center;
    margin: 0;
}
.grid{
    display: grid;
    grid-template-columns: 1fr;
    gap: 14px;
}
@media (min-width: 480px){
    .grid{
        grid-template-columns: repeat(2,1fr);
    }
}
@media (min-width: 768px){
    .grid{
        grid-template-columns: repeat(2,1fr);
    }
    .top-box{
        order: 2;
        grid-column: 1/3;
    }
    .middle-box{
        order: 1;
        /* grid-column:  */
    }
    .bottom-box{
        order: 3;
    }
    body{
        line-height: 1.6;
    }
}
@media (min-width:769px) and (max-width: 1200px) {
    .grid{
        grid-template-rows: repeat(1,2fr);
    }
    .wrapper{
        padding: 32px;
    }
}
.orientation{
    margin-top: 8px;
    font: 0.9rem;
}
@media (orientation: portrait){
    .only-portrait{
        display: inline;
    }
}
@media (orientation: landscape){
    .only-landscape{
        display: inline;
    }
    .wrapper-portrait-only{
        display: grid;
        padding: 1rem 0 1rem 0;
        grid-template-columns: repeat(1,3fr);
    }
    .bottom-box{
        margin-top: -1rem;
        display: grid;
        grid-column: 1/3;
        grid-row: 1/2;
    }
    article p{
        margin: 1rem;
    }
    .top-box{
        margin-top: -1rem;
        display: grid;
        grid-column: 2/3;
    }
    .middle-box{
        margin-top: -1rem;
        display: grid;
        grid-column: 3/3;
    }
}