@import url(./style.css);

@media (min-width:480px){

}
body{
    background-color: var(--background);
}
.navbar{
    border-bottom: 3px solid var(--box_color);
    background: var(--headerColor);
    margin-bottom: 15px;
}
.header{
    text-align: center;
    color: white;
}
article img{
    height: 230px;
    width: 100%;
    border: 5px solid var(--box_color);
    border-radius: 10px;
}
.light_background{
    display: flex;
    border: 5px solid var(--accent);
    background-color: var(--accent);
    border-radius: 10px;
    padding: 15px;
    justify-content: center;
    
}